
    
    @media(max-width:600px){
        .card-post{
            width:90%;
        }
    }

 .reacted{
        color:var(--blue-color)
    }

  .coment-template{
      display:grid;   
      grid-template-columns: 90% 10%;
      border:1px solid black;
      border-radius:15px;
      width:80%;
      margin:1% 11%;
      justify-content:center;
      align-items: center;
      height:5vh;
      
  }

  .s-ico{
      color:var(--gray-color-1)
  }
  .s-ico:hover{
      color:var(--blue-color)
  }
  .s-ico:active{
        transform: scale(1.01);
  }